<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%level]%d{HH:mm:ss.SSS}[%thread -> %logger{40}] %msg%n
			</pattern>
		</encoder>
	</appender>


	<!--sql 打印在控制台 -->
	<logger name="jdbc.sqltiming" level="OFF" addtivity="false"></logger>
	<logger name="jdbc.resultsettable" level="OFF" addtivity="false"></logger>
	<logger name="jdbc.sqlonly" level="OFF" addtivity="false"></logger>
	<logger name="jdbc.audit" level="OFF" addtivity="false"></logger>
	<logger name="jdbc.resultset" level="OFF" addtivity="false"></logger>
	<logger name="jdbc.connection" level="OFF" addtivity="false"></logger>

	

	<root level="INFO">
		<appender-ref ref="console" />
	</root>
	
</configuration>